<div class="content">
                <div class="content-header">
                    <div class="content-header-extra">
                        <a class="item-ch-extra" href="#">
                            <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-barcolor="#5BB75B" data-value="0,5,3,9,6,5,9,7,3,5,2"></span>
                            <div class="data-text text-success">
                                765K <p class="text-muted">Visits</p>
                            </div>
                        </a><!--/item-ch-extra-->
                        
                        <div class="divider"></div>
                        
                        <a class="item-ch-extra" href="#">
                            <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-value="0,9,7,9,6,3,5,3,5,5,2"></span>
                            <div class="data-text text-primary">
                                1437 <p class="text-muted">Users</p>
                            </div>
                        </a><!--/item-ch-extra-->

                        <div class="divider"></div>

                        <a class="item-ch-extra" href="#">
                            <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-barcolor="#49AFCD" data-value="0,6,5,9,7,3,5,2,5,3,9"></span>
                            <div class="data-text text-info">
                                4367 <p class="text-muted">Orders</p>
                            </div>
                        </a><!--/item-ch-extra-->
                    </div><!--/content-header-extra -->

                    <h2 class="content-title"><i class="fa fa-home"></i> Welcome to Stilearn 2.0</h2>
                </div><!--/content-header -->
                
                <!-- content-control -->
                <div class="content-control">
                    <!--control-nav-->
                    <ul class="control-nav pull-right">
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-money"></i> Orders <span class="text-danger">(+12)</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i> Users <span class="text-danger">(+34)</span>
                                <i class="fa fa-angle-down"></i>
                            </a>                            
                            <ul class="dropdown-menu animated flipInX pull-right">
                                <li><a href="#">Some Action</a></li>
                                <li><a href="#">Other Action</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Something Else</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li rel="popover-left" data-context="inverse" data-trigger="hover" data-content="Click me to toggle Chat box!">
                            <a data-toggle="side-right" href="#">
                                Hangouts <i class="fa fa-comment-o animated animated-repeat flash"></i>
                            </a>
                        </li>
                    </ul><!--/control-nav-->
                    
                    <!--breadcrumb-->
                    <ul class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-home"></i> Dashboard</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ul><!--/breadcrumb-->
                </div><!-- /content-control -->

                <div class="content-body">
                    <!-- APP CONTENT
                    ================================================== -->
                                        <!-- DASHBOARD
                    ================================================== -->
                    <!-- Dashboard  -->
                    <div id="error-placement"></div>
                    <div class="row margin-top">
                        <div class="col-md-12 margin-bottom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#system-stats" data-toggle="tab">System Stats</a></li>
                                <li><a href="#server-stats" data-toggle="tab">Server Stats</a></li>
                            </ul>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="system-stats" class="tab-pane fade active in">
                                <div class="col-md-4">
                                    <div id="overall-visitor" class="panel panel-animated panel-primary bg-primary">
                                        <div class="panel-body">
                                            <div class="panel-actions-fly">
                                                <button data-refresh="#overall-visitor" data-error-place="#error-placement" title="refresh" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button><!--/btn-panel-->
                                                <a href="#" title="Go to system stats page" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a><!--/btn-panel-->
                                            </div><!--/panel-action-fly-->

                                            <p class="lead">Visitor</p><!--/lead as title-->

                                            <ul class="list-percentages row">
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Monthly</p>
                                                    <p class="text-lg"><strong>765,298</strong></p>
                                                </li>
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Weekly</p>
                                                    <p class="text-lg"><strong>1,765</strong></p>
                                                </li>
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Today</p>
                                                    <p class="text-lg"><strong>563</strong></p>
                                                </li>
                                            </ul><!--/list-percentages-->
                                            <p class="helper-block">
                                                <div class="progress progress-xs progress-flat progress-inverse-inverse">
                                                    <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                        <span class="sr-only">60% Complete (inverse)</span>
                                                    </div>
                                                </div>
                                                </p><p class="text-ellipsis"><i class="fa fa-caret-up"></i> 654 &nbsp;&nbsp; +21<sup>%</sup> <small>Looks Good!, up from last month</small></p>
                                            <!--/help-block-->
                                        </div><!--/panel-body-->
                                    </div><!--/panel overal-visitor-->
                                </div><!--/cols-->

                                <div class="col-md-4">
                                    <div id="overall-users" class="panel panel-animated panel-success bg-success">
                                        <div class="panel-body">
                                            <div class="panel-actions-fly">
                                                <button data-refresh="#overall-users" data-error-place="#error-placement" title="refresh" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button><!--/btn-panel-->
                                                <a href="#" title="Go to system stats page" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a><!--/btn-panel-->
                                            </div><!--/panel-action-fly-->

                                            <p class="lead">Users</p><!--/lead as title-->

                                            <ul class="list-percentages row">
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">All Users</p>
                                                    <p class="text-lg"><strong>1437</strong></p>
                                                </li>
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Last Month</p>
                                                    <p class="text-lg"><strong>287</strong></p>
                                                </li>
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">New Users</p>
                                                    <p class="text-lg"><strong>87</strong></p>
                                                </li>
                                            </ul><!--/list-percentages-->
                                            <p class="helper-block">
                                                <div class="progress progress-xs progress-flat progress-inverse-inverse">
                                                    <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                        <span class="sr-only">60% Complete (inverse)</span>
                                                    </div>
                                                </div>
                                                </p><p class="text-ellipsis"><i class="fa fa-caret-up"></i> 63 &nbsp;&nbsp; +8<sup>%</sup> <small>Looks Good!, up from last month</small></p>
                                            <!--/help-block-->
                                        </div><!--/panel-body-->
                                    </div><!--/panel overal-users-->
                                </div><!--/cols-->

                                <div class="col-md-4">
                                    <div id="overall-orders" class="panel panel-animated panel-danger bg-danger">
                                        <div class="panel-body">
                                            <div class="panel-actions-fly">
                                                <button data-refresh="#overall-orders" data-error-place="#error-placement" title="refresh" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button><!--/btn-panel-->
                                                <a href="#" title="Go to system stats page" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a><!--/btn-panel-->
                                            </div><!--/panel-action-fly-->

                                            <p class="lead">Orders</p><!--/lead as title-->

                                            <ul class="list-percentages row">
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Total Revenue</p>
                                                    <p class="text-lg"><strong>1,954,452</strong></p>
                                                </li>
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Last Month</p>
                                                    <p class="text-lg"><strong>43,671</strong></p>
                                                </li>
                                                <li class="col-xs-4">
                                                    <p class="text-ellipsis">Today</p>
                                                    <p class="text-lg"><strong>1,219</strong></p>
                                                </li>
                                            </ul><!--/list-percentages-->
                                            <p class="helper-block">
                                                <div class="progress progress-xs progress-flat progress-inverse-inverse">
                                                    <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                        <span class="sr-only">60% Complete (inverse)</span>
                                                    </div>
                                                </div>
                                                </p><p class="text-ellipsis"><i class="fa fa-caret-down"></i> 386 &nbsp;&nbsp; -5<sup>%</sup> <small>Looks not good! try increasing your product</small></p>
                                            <!--/help-block-->
                                        </div><!--/panel-body-->
                                    </div><!--/panel overal-orders-->
                                </div><!--/cols-->
                            </div><!--/#system-stats-->


                            <div id="server-stats" class="tab-pane fade">
                                <div class="col-md-4">
                                    <div id="overall-bandwidth" class="panel panel-animated panel-primary bg-primary">
                                        <div class="panel-body">
                                            <div class="panel-actions-fly">
                                                <button data-refresh="#overall-bandwidth" data-error-place="#error-placement" title="refresh" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button><!--/btn-panel-->
                                                <a href="#" title="Go to server stats page" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a><!--/btn-panel-->
                                            </div><!--/panel-action-fly-->

                                            <p class="lead">Bandwidth</p><!--/lead as title-->

                                            <p>
                                                <div class="easyPieChart" data-barcolor="#232332" data-trackcolor="#ecf0f1" data-scalecolor="#ecf0f1" data-percent="16" data-size="120">
                                                    <span>16%</span>
                                                </div>
                                                </p><p class="text-ellipsis text-center">Bandwidth Usage 120,4 GB / 2 TB</p>
                                            
                                        </div><!--/panel-body-->
                                    </div><!--/panel overal-bandwidth-->
                                </div><!--/cols-->

                                <div class="col-md-4">
                                    <div id="overall-diskspace" class="panel panel-animated panel-success bg-success">
                                        <div class="panel-body">
                                            <div class="panel-actions-fly">
                                                <button data-refresh="#overall-diskspace" data-error-place="#error-placement" title="refresh" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button><!--/btn-panel-->
                                                <a href="#" title="Go to server stats page" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a><!--/btn-panel-->
                                            </div><!--/panel-action-fly-->

                                            <p class="lead">Disk Space</p><!--/lead as title-->

                                            <p>
                                                <div class="easyPieChart" data-barcolor="#232332" data-trackcolor="#ecf0f1" data-scalecolor="#ecf0f1" data-percent="37" data-size="120">
                                                    <span>64%</span>
                                                </div>
                                                </p><p class="text-ellipsis text-center">File Usage 128,137 / 200,000</p>
                                            
                                        </div><!--/panel-body-->
                                    </div><!--/panel overal-diskspace-->
                                </div><!--/cols-->

                                <div class="col-md-4">
                                    <div id="overall-phisicmem" class="panel panel-animated panel-danger bg-danger">
                                        <div class="panel-body">
                                            <div class="panel-actions-fly">
                                                <button data-refresh="#overall-phisicmem" data-error-place="#error-placement" title="refresh" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button><!--/btn-panel-->
                                                <a href="#" title="Go to server stats page" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a><!--/btn-panel-->
                                            </div><!--/panel-action-fly-->

                                            <p class="lead">Physical Memory</p><!--/lead as title-->

                                            <p>
                                                <div class="easyPieChart" data-barcolor="#232332" data-trackcolor="#ecf0f1" data-scalecolor="#ecf0f1" data-percent="45" data-size="120">
                                                    <span>45%</span>
                                                </div>
                                                </p><p class="text-ellipsis text-center">Physical Memory Usage 457 MB / 1 GB</p>
                                            
                                        </div><!--/panel-body-->
                                    </div><!--/panel overal-phisicmem-->
                                </div><!--/cols-->
                            </div><!--/#system-stats-->
                        </div><!--/tab-content-->
                    </div><!--/row-->





                    <div class="row">
                        <div class="col-sm-8">
                            <!-- VMAP -->
                            <div class="panel panel-animated panel-default">
                                <div class="panel-heading bg-white">
                                    <div class="panel-actions">
                                        <div class="btn-group">
                                            <button class="btn-panel dropdown-toggle" data-toggle="dropdown">
                                                Change Maps
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul id="changeMapRegion" class="dropdown-menu pull-right">
                                                <li class="active"><a href="#" data-map="world_en">World</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#" data-map="africa_en">Africa</a></li>
                                                <li><a href="#" data-map="asia_en">Asia</a></li>
                                                <li><a href="#" data-map="australia_en">Australia</a></li>
                                                <li><a href="#" data-map="europe_en">Europe</a></li>
                                                <li><a href="#" data-map="north-america_en">North America</a></li>
                                                <li><a href="#" data-map="south-america_en">South America</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#" data-map="dz_fr">Algeria</a></li>
                                                <li><a href="#" data-map="france_fr">France</a></li>
                                                <li><a href="#" data-map="germany_en">Germany</a></li>
                                                <li><a href="#" data-map="russia_en">Russia</a></li>
                                                <li><a href="#" data-map="usa_en">USA</a></li>
                                            </ul>
                                        </div><!--/btn-group-->
                                    </div><!-- /panel-actions -->
                                    <h4 class="panel-title" data-ariginal-title="World Map" id="mapRegion">World Map</h4>
                                </div><!--/panel-heading-->

                                <div class="panel-body">
                                    <div id="vmap" class="vmap" style="height:370px"></div>
                                </div><!--/panel-body-->
                                
                                <ul class="list-group">
                                    <li class="list-group-item" id="legend-region">Summary of World</li>
                                    <li class="list-group-item"><div id="legend-visit" class="badge badge-primary"></div><i class="fa fa-signal"></i> Today Visitor</li>
                                    <li class="list-group-item"><div id="legend-member" class="badge badge-primary"></div><i class="fa fa-users"></i> Members</li>
                                    <li class="list-group-item"><div id="legend-customer" class="badge badge-primary"></div><i class="fa fa-briefcase"></i> Customers</li>
                                    <li class="list-group-item"><div id="legend-online" class="badge badge-primary"></div><i class="fa fa-circle"></i> Online</li>
                                    <li class="list-group-item"><div id="legend-revenue" class="badge badge-primary"></div><i class="fa fa-dollar"></i> Total Revenue</li>
                                </ul><!--/list-group map-legend-->
                            </div><!--/panel-->
                        </div><!--/cols-->


                        <div class="col-sm-4">
                            <div class="panel panel-animated panel-inverse bg-inverse">
                                <div class="panel-body">
                                    <p class="text-lg"><span class="pull-right">64<sup>%</sup></span><i class="fa fa-cloud-download"></i> Downloading...</p>
                                    <div class="progress progress-lg">
                                        <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width: 64%">
                                            <span class="sr-only">64% Complete (inverse)</span>
                                        </div>
                                    </div>

                                    <p class="text-lg"><span class="pull-right">37<sup>%</sup></span><i class="fa fa-cloud-upload"></i> Uploading...</p>
                                    <div class="progress progress-lg">
                                        <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100" style="width: 37%">
                                            <span class="sr-only">37% Complete (inverse)</span>
                                        </div>
                                    </div>
                                </div><!--/panel-body-->
                            </div><!--/panel-->


                            <div id="dashboard-weather" class="panel panel-animated panel-default bg-danger border-danger border-danger">
                                <div class="panel-heading bg-transparent no-border">
                                    <h3 class="text-center">Whashington (WA)</h3>
                                </div><!--/panel-heading-->

                                <div class="panel-body text-center bordered-bottom border-transparent">
                                    <p class="text-lg">SAT 08/02</p>
                                    <p class="text-64">23&deg; <canvas id="skycons-wind1" width="64" height="64"></canvas></p>
                                </div><!--/panel-body-->

                                <div class="list-group bg-danger">
                                    <a class="list-group-item" href="#">
                                        <canvas class="pull-right" id="skycons-sun" width="16" height="16"></canvas>
                                        <div class="list-group-item-text pull-right">29&deg;</div>
                                        SUN 02/02
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <canvas class="pull-right" id="skycons-snow" width="16" height="16"></canvas>
                                        <div class="list-group-item-text pull-right">15&deg;</div>
                                        MON 03/02
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <canvas class="pull-right" id="skycons-cloudy" width="16" height="16"></canvas>
                                        <div class="list-group-item-text pull-right">26&deg;</div>
                                        TUE 04/02
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <canvas class="pull-right" id="skycons-wind2" width="16" height="16"></canvas>
                                        <div class="list-group-item-text pull-right">24&deg;</div>
                                        WED 05/02
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <canvas class="pull-right" id="skycons-rain" width="16" height="16"></canvas>
                                        <div class="list-group-item-text pull-right">22&deg;</div>
                                        THU 06/02
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <canvas class="pull-right" id="skycons-fog" width="16" height="16"></canvas>
                                        <div class="list-group-item-text pull-right">25&deg;</div>
                                        FRI 07/02
                                    </a>
                                </div><!--/list-group-->
                            </div><!--panel-->
                        </div><!--/cols-->
                    </div><!--/row-->





                    <div class="row">
                        <div class="col-md-6">
                            <form action="" role="form">
                            <div class="panel panel-animated panel-default">
                                <div class="panel-heading bg-white">
                                    <h4 class="panel-title"><i class="fa fa-envelope-o"></i> Quick Mail</h4>
                                </div><!--panel-heading-->

                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label" for="quick-mail-reseiver">To</label>
                                        <input id="quick-mail-reseiver" name="quick-mail-reseiver" type="text" data-input="tags">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="quick-mail-subject">Subject</label>
                                        <input id="quick-mail-subject" name="quick-mail-subject" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="quick-mail-content" name="quick-mail-content" class="form-control" data-input="wysihtml5" data-link="false" data-image="false" style="width:100%" rows="12" placeholder="Enter your message ..."></textarea>
                                    </div><!-- /form-group -->
                                </div><!--panel-body-->

                                <div class="panel-footer bg-white bordered-top clearfix">
                                    <div class="pull-right">
                                        <input type="reset" class="btn btn-sm btn-default" value="Cancel">
                                        <input type="submit" class="btn btn-sm btn-inverse" value="Send Email">
                                    </div>
                                </div><!--panel-footer-->
                            </div><!--panel-->
                            </form>
                        </div><!--/cols-->

                        <div class="col-md-6">
                            <div class="panel panel-animated panel-default">
                                <div class="panel-heading bg-white">
                                    <div class="panel-actions">
                                        <button id="calendar-viewtoday" class="btn-panel">Today</button>
                                        <button id="calendar-viewmonth" class="btn-panel active">Month</button>
                                        <button id="calendar-viewweek" class="btn-panel">Week</button>
                                        <button id="calendar-viewday" class="btn-panel">Day</button>
                                    </div><!--panel-actions-->
                                    <h4 class="panel-title" id="calendar-viewtitle"><i class="fa fa-spinner fa-spin"></i></h4>
                                </div><!--panel-heading-->

                                <div class="panel-helper-block">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group btn-group-sm pull-right">
                                            <button class="btn btn-default" id="calendar-viewnext">Next</button>
                                            <button class="btn btn-default" id="calendar-viewnextYear">Next Year</button>
                                        </div>
                                        <div class="btn-group btn-group-sm pull-left">
                                            <button class="btn btn-default" id="calendar-viewprevYear">Prev Year</button>
                                            <button class="btn btn-default" id="calendar-viewprev">Prev</button>
                                        </div>
                                    </div>
                                </div><!--/panel-helper-block-->

                                <div class="panel-body">
                                    <div id="calendar" class="table-responsive calendar-inverse"></div>
                                </div><!--panel-body-->
                            </div><!--panel-->
                        </div><!--/cols-->
                    </div><!--/row-->


                    
                    <div class="divider-content">
                        <span></span>
                    </div><!--/divider-content-->


                    
                    <div id="error-placement2"></div>
                    <div class="page-header no-border">
                    	<h3><i class="fa fa-rss"></i> Content Feeds</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div id="contentfeeds1" class="panel panel-animated panel-default">
                                <div class="panel-actions-fly">
                                    <button data-refresh="#contentfeeds1" data-error-place="#error-placement2" title="refresh" class="btn-panel">
                                        <i class="fa fa-refresh"></i>
                                    </button><!--/btn-panel-->
                                    <button data-close="#contentfeeds1" title="close" class="btn-panel">
                                        <i class="fa fa-times"></i>
                                    </button><!--/btn-panel-->
                                </div><!--/panel-action-fly-->

                                <div class="panel-body bordered-bottom">
                                    <div class="no-padding jumbotron bg-inverse">
                                        <div class="tile">
                                            <div class="img-wrapper">
                                                <img class="lazy" data-original="images/dummy/2590d12d.img2.png" alt="">
                                            </div>
                                        </div>
                                        
                                        <div class="jumbotron-text">
                                            <p class="lead">The Ideas to Become a Creative Professionals</p>
                                            <p class="clearfix">
                                                <span class="pull-right">
                                                    <a href="#" class="btn btn-xs btn-inverse btn-rounded">#webDesign</a>
                                                    <a href="#" class="btn btn-xs btn-inverse btn-rounded">#beginner</a>
                                                </span>
                                            </p>
                                        </div>
                                    </div><!--/jumbotron-->

                                    <div class="profile-line clearfix">
                                        <img class="img-circle pull-left" src="images/dummy/f5a2c818.uifaces14.jpg" alt="uifaces14" width="46px" width="46px">
                                        <div class="text-14"><strong>Kathy Reynolds</strong></div>
                                        <div class="text-muted"><small>Share Public Post - a hours ago</small></div>
                                    </div><!--/profile-line-->

                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
                                    
                                    <p class="text-muted pull-right"><i class="fa fa-comment"></i> 21 &nbsp;&nbsp;&nbsp; <i class="fa fa-heart"></i> 16</p>
                                </div><!--panel-body-->

                                <div class="panel-body">
                                    <form action="" role="form">
                                        <div class="input-group input-group-in">
                                            <input type="text" class="form-control" placeholder="Write a comment...">
                                            <span class="input-group-btn">
                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                    <button class="btn btn-transparent text-muted btn-file" type="button">
                                                        <i class="fileinput-new fa fa-camera"></i>
                                                        <input type="file" name="fileinput_inline[]">
                                                    </button>
                                                    <button class="btn btn-transparent fileinput-exists text-muted" rel="tooltip-bottom" title="remove file attach" data-dismiss="fileinput"><i class="fa fa-times"></i></button>
                                                </span>
                                            </span>
                                        </div>
                                    </form><!--/form-->
                                </div><!--/panel-body-->
                            </div><!--/panel-->



                            <div id="contentfeeds4" class="panel panel-animated panel-default">
                                <div class="panel-actions-fly">
                                    <button data-refresh="#contentfeeds4" data-error-place="#error-placement2" title="refresh" class="btn-panel">
                                        <i class="fa fa-refresh"></i>
                                    </button><!--/btn-panel-->
                                    <button data-close="#contentfeeds4" title="close" class="btn-panel">
                                        <i class="fa fa-times"></i>
                                    </button><!--/btn-panel-->
                                </div><!--/panel-action-fly-->

                                <div class="panel-body bordered-bottom">
                                    <div class="no-padding jumbotron bg-primary">
                                        <p class="lead">The 20 best Google Chrome extensions for web designers</p>
                                        <p class="clearfix">
                                            <span class="pull-right">
                                                <a href="#" class="btn btn-xs btn-transparent btn-rounded">#chrome</a>
                                                <a href="#" class="btn btn-xs btn-transparent btn-rounded">#tools</a>
                                            </span>
                                        </p>
                                    </div><!--/jumbotron-->

                                    <div class="profile-line clearfix">
                                        <img class="img-circle pull-left" src="images/dummy/9c06e6a0.uifaces11.jpg" alt="uifaces11" width="46px" width="46px">
                                        <div class="text-14"><strong>Samantha Jenkins</strong></div>
                                        <div class="text-muted"><small>Share Public Post - Yesterday</small></div>
                                    </div><!--/profile-line-->

                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
                                    
                                    <p class="text-muted pull-right"><i class="fa fa-comment"></i> 34 &nbsp;&nbsp;&nbsp; <i class="fa fa-heart"></i> 51</p>
                                </div><!--panel-body-->

                                <div class="panel-body">
                                    <form action="" role="form">
                                        <div class="pull-left margin-right">
                                            <img class="img-circle" src="images/dummy/0c31c9dc.profile.jpg" alt="profile" width="36px" width="36px">
                                        </div>
                                        <div class="input-group input-group-in">
                                            <input type="text" class="form-control" placeholder="Write a comment...">
                                            <span class="input-group-btn">
                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                    <button class="btn btn-transparent text-muted btn-file" type="button">
                                                        <i class="fileinput-new fa fa-camera"></i>
                                                        <input type="file" name="fileinput_inline[]">
                                                    </button>
                                                    <button class="btn btn-transparent fileinput-exists text-muted" rel="tooltip-bottom" title="remove file attach" data-dismiss="fileinput"><i class="fa fa-times"></i></button>
                                                </span>
                                            </span>
                                        </div>
                                    </form><!--/form-->
                                </div><!--/panel-body-->
                            </div><!--/panel-->
                        </div><!--/cols-->


                        <div class="col-md-4">
                            <div id="contentfeeds2" class="panel panel-animated panel-default">
                                <div class="panel-actions-fly">
                                    <button data-refresh="#contentfeeds2" data-error-place="#error-placement2" title="refresh" class="btn-panel">
                                        <i class="fa fa-refresh"></i>
                                    </button><!--/btn-panel-->
                                    <button data-close="#contentfeeds2" title="close" class="btn-panel">
                                        <i class="fa fa-times"></i>
                                    </button><!--/btn-panel-->
                                </div><!--/panel-action-fly-->

                                <div class="panel-body bordered-bottom">
                                    <div class="profile-line clearfix">
                                        <img class="img-circle pull-left" src="images/dummy/e9d19848.uifaces19.jpg" alt="uifaces19" width="46px" width="46px">
                                        <div class="text-14"><strong>Phillip Morrison</strong></div>
                                        <div class="text-muted"><small>Share Exclusive Post - 7:16 AM</small></div>
                                    </div><!--/profile-line-->

                                    <div class="no-padding jumbotron bg-primary">
                                        <p class="lead">Times Designers Are Monitoring Reaction to the Redesign, With Adjustments Possible</p>
                                        <p class="clearfix">
                                            <span class="pull-right">
                                                <a href="#" class="btn btn-xs btn-transparent btn-rounded">#manage</a>
                                                <a href="#" class="btn btn-xs btn-transparent btn-rounded">#workFlow</a>
                                            </span>
                                        </p>
                                    </div><!--/jumbotron-->

                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
                                    
                                    <p class="text-muted pull-right"><i class="fa fa-comment"></i> 47 &nbsp;&nbsp;&nbsp; <i class="fa fa-heart"></i> 98</p>
                                </div><!--panel-body-->

                                <div class="panel-body">
                                    <form action="" role="form">
                                        <div class="input-group input-group-in">
                                            <input type="text" class="form-control" placeholder="Write a comment...">
                                            <span class="input-group-btn">
                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                    <button class="btn btn-transparent text-muted btn-file" type="button">
                                                        <i class="fileinput-new fa fa-camera"></i>
                                                        <input type="file" name="fileinput_inline[]">
                                                    </button>
                                                    <button class="btn btn-transparent fileinput-exists text-muted" rel="tooltip-bottom" title="remove file attach" data-dismiss="fileinput"><i class="fa fa-times"></i></button>
                                                </span>
                                            </span>
                                        </div>
                                    </form><!--/form-->
                                </div><!--/panel-body-->
                            </div><!--/panel-->

                            <div id="contentfeeds5" class="panel panel-animated panel-default">
                                <div class="panel-actions-fly">
                                    <button data-refresh="#contentfeeds5" data-error-place="#error-placement2" title="refresh" class="btn-panel">
                                        <i class="fa fa-refresh"></i>
                                    </button><!--/btn-panel-->
                                    <button data-close="#contentfeeds5" title="close" class="btn-panel">
                                        <i class="fa fa-times"></i>
                                    </button><!--/btn-panel-->
                                </div><!--/panel-action-fly-->

                                <div class="panel-body bordered-bottom">
                                    <div class="no-padding jumbotron bg-inverse">
                                        <p class="lead">COMPRESSED DATA; Homing In on 'Intelligent' Web Design</p>
                                        <p class="clearfix">
                                            <span class="pull-right">
                                                <a href="#" class="btn btn-xs btn-transparent btn-rounded">#webDesign</a>
                                            </span>
                                        </p>
                                    </div><!--/jumbotron-->

                                    <div class="profile-line clearfix">
                                        <img class="img-circle pull-left" src="images/dummy/3a93212e.uifaces3.jpg" alt="uifaces3" width="46px" width="46px">
                                        <div class="text-14"><strong>Aaron James</strong></div>
                                        <div class="text-muted"><small>Share Public Post - Yesterday</small></div>
                                    </div><!--/profile-line-->

                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
                                    
                                    <p class="text-muted pull-right"><i class="fa fa-comment"></i> 28 &nbsp;&nbsp;&nbsp; <i class="fa fa-heart"></i> 31</p>
                                </div><!--panel-body-->

                                <div class="panel-body">
                                    <form action="" role="form">
                                        <div class="input-group input-group-in">
                                            <input type="text" class="form-control" placeholder="Write a comment...">
                                            <span class="input-group-btn">
                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                    <button class="btn btn-transparent text-muted btn-file" type="button">
                                                        <i class="fileinput-new fa fa-camera"></i>
                                                        <input type="file" name="fileinput_inline[]">
                                                    </button>
                                                    <button class="btn btn-transparent fileinput-exists text-muted" rel="tooltip-bottom" title="remove file attach" data-dismiss="fileinput"><i class="fa fa-times"></i></button>
                                                </span>
                                            </span>
                                        </div>
                                    </form><!--/form-->
                                </div><!--/panel-body-->
                            </div><!--/panel-->
                        </div><!--/cols-->


                        <div class="col-md-4">
                            <div id="contentfeeds3" class="panel panel-animated panel-default">
                                <div class="panel-actions-fly">
                                    <button data-refresh="#contentfeeds3" data-error-place="#error-placement2" title="refresh" class="btn-panel">
                                        <i class="fa fa-refresh"></i>
                                    </button><!--/btn-panel-->
                                    <button data-close="#contentfeeds3" title="close" class="btn-panel">
                                        <i class="fa fa-times"></i>
                                    </button><!--/btn-panel-->
                                </div><!--/panel-action-fly-->

                                <div class="panel-body bordered-bottom">
                                    <div class="no-padding jumbotron bg-danger">
                                        <p class="lead">Make Your Design Keep Simple and Easy Read</p>
                                        <p class="clearfix">
                                            <span class="pull-right">
                                                <a href="#" class="btn btn-xs btn-transparent btn-rounded">#stilearn</a>
                                                <a href="#" class="btn btn-xs btn-transparent btn-rounded">#clean</a>
                                            </span>
                                        </p>
                                    </div><!--/jumbotron-->

                                    <div class="profile-line clearfix">
                                        <img class="img-circle pull-left" src="images/dummy/3a93212e.uifaces3.jpg" alt="uifaces3" width="46px" width="46px">
                                        <div class="text-14"><strong>Aaron James</strong></div>
                                        <div class="text-muted"><small>Share Public Post - 6:36 AM</small></div>
                                    </div><!--/profile-line-->

                                    <p class="text-muted pull-right"><i class="fa fa-comment"></i> 8 &nbsp;&nbsp;&nbsp; <i class="fa fa-heart"></i> 12</p>
                                </div><!--panel-body-->

                                <div class="panel-body">
                                    <form action="" role="form">
                                        <div class="pull-left margin-right">
                                            <img class="img-circle" src="images/dummy/0c31c9dc.profile.jpg" alt="profile" width="36px" width="36px">
                                        </div>
                                        <div class="input-group input-group-in">
                                            <input type="text" class="form-control" placeholder="Write a comment...">
                                            <span class="input-group-btn">
                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                    <button class="btn btn-transparent text-muted btn-file" type="button">
                                                        <i class="fileinput-new fa fa-camera"></i>
                                                        <input type="file" name="fileinput_inline[]">
                                                    </button>
                                                    <button class="btn btn-transparent fileinput-exists text-muted" rel="tooltip-bottom" title="remove file attach" data-dismiss="fileinput"><i class="fa fa-times"></i></button>
                                                </span>
                                            </span>
                                        </div>
                                    </form><!--/form-->
                                </div><!--/panel-body-->
                            </div><!--/panel-->


                            <div id="contentfeeds6" class="panel panel-animated panel-default">
                                <div class="panel-actions-fly">
                                    <button data-refresh="#contentfeeds6" data-error-place="#error-placement2" title="refresh" class="btn-panel">
                                        <i class="fa fa-refresh"></i>
                                    </button><!--/btn-panel-->
                                    <button data-close="#contentfeeds6" title="close" class="btn-panel">
                                        <i class="fa fa-times"></i>
                                    </button><!--/btn-panel-->
                                </div><!--/panel-action-fly-->

                                <div class="panel-body bordered-bottom">
                                    <div class="profile-line clearfix">
                                        <img class="img-circle pull-left" src="images/dummy/8af46bf8.uifaces21.jpg" alt="uifaces21" width="46px" width="46px">
                                        <div class="text-14"><strong>John Doe</strong></div>
                                        <div class="text-muted"><small>Share Exclusive Post - Yesterday</small></div>
                                    </div><!--/profile-line-->

                                    <div class="no-padding jumbotron bg-warning">
                                        <div class="tile">
                                            <div class="img-wrapper">
                                                <img class="lazy" data-original="images/dummy/75ccb40a.img5.png" alt="">
                                            </div>
                                        </div>
                                        <div class="jumbotron-text">
                                            <p class="lead">Technology Tools: Web 2.0 in the Classroom</p>
                                            <p class="clearfix">
                                                <span class="pull-right">
                                                    <a href="#" class="btn btn-xs btn-warning btn-rounded">#tools</a>
                                                    <a href="#" class="btn btn-xs btn-warning btn-rounded">#technology</a>
                                                </span>
                                            </p>
                                        </div>
                                    </div><!--/jumbotron-->

                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
                                    
                                    <p class="text-muted pull-right"><i class="fa fa-comment"></i> 87 &nbsp;&nbsp;&nbsp; <i class="fa fa-heart"></i> 163</p>
                                </div><!--panel-body-->

                                <div class="panel-body">
                                    <form action="" role="form">
                                        <div class="input-group input-group-in">
                                            <input type="text" class="form-control" placeholder="Write a comment...">
                                            <span class="input-group-btn">
                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                    <button class="btn btn-transparent text-muted btn-file" type="button">
                                                        <i class="fileinput-new fa fa-camera"></i>
                                                        <input type="file" name="fileinput_inline[]">
                                                    </button>
                                                    <button class="btn btn-transparent fileinput-exists text-muted" rel="tooltip-bottom" title="remove file attach" data-dismiss="fileinput"><i class="fa fa-times"></i></button>
                                                </span>
                                            </span>
                                        </div>
                                    </form><!--/form-->
                                </div><!--/panel-body-->
                            </div><!--/panel-->
                        </div><!--/cols-->
                    </div><!--/row-->



                    <div id="content-feeds"></div>
                    <p class="text-center">
                        <a data-ajax="#content-feeds" data-scripts="data-sample/feeds-content.js" href="data-sample/feeds-content.html" data-max-page="5" data-loading-text="<i class='fa fa-spin fa-spinner'></i> Loading..." class="btn btn-sm btn-cloud">Load more feeds...</a>
                    </p>                </div><!--/content-body -->
            </div><!--/content -->

        </section><!--/content section -->
        

        <!-- side-right -->
        <aside class="side-right">
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <h3 class="contact-heading">
                        <div class="btn-group pull-right">
                            <a href="#" data-toggle="side-right">
                                <i class="fa fa-times text-sm"></i>
                            </a>
                        </div>
                        <i class="fa fa-group"></i> Hangouts 
                        <div class="btn-group">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-angle-down text-sm"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="active"><a href="#"><i class="fa fa-circle text-primary"></i> Online</a></li>
                                <li><a href="#"><i class="fa fa-circle text-danger"></i> Offline</a></li>
                                <li><a href="#"><i class="fa fa-circle text-warning"></i> Idle</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="fa fa-circle text-midnight"></i> Disable</a></li>
                            </ul>
                        </div>
                    </h3><!-- /contact-heading -->

                    <div class="contact-body">
                        <ul class="contacts-list">
                            <li class="separate">Top friends</li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Phillip Morrison</a></li>
                            <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Samuel Porter</a></li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Kathy Reynolds</a></li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Aaron James</a></li>
                            <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Teresa May</a></li>

                            <li class="separate">Teams</li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> John Doe</a></li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Iin Triasneni</a></li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Mahatma</a></li>
                            <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Lawrence Ramirez</a></li>
                            <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Samantha Jenkins</a></li>
                            <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Sarah Payne</a></li>
                            <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Justin Perry</a></li>

                            <li class="separate">Clients</li>
                            <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Rebecca Vargas</a></li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Sean Carpenter</a></li>
                            <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Arthur Pearson</a></li>
                            <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Julie Jimenez</a></li>
                            <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Sandra Ramirez</a></li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Nicholas Cole</a></li>
                            <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Madison Hall</a></li>
                            <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Alan Shaw</a></li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Randy Mills</a></li>

                            <li class="separate">All</li>
                            <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Kenneth Soto</a></li>
                            <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Harold James</a></li>
                            <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Paul Greene</a></li>
                        </ul><!-- /contacts-list -->
                    </div><!-- /contact-body -->
                </div><!-- /chat-contact -->

                <div class="chatbox">
                    <h3 class="chatbox-heading">
                        <a data-toggle="chatbox-close" href="#" class="pull-right text-sm text-silver"><i class="fa fa-times"></i></a>
                        <i class="fa fa-circle-o text-primary"></i> 
                        Phillip Morrison
                    </h3><!-- /chatbox-heading -->

                    <div class="chatbox-body" data-toggle="niceScroll">

                        <div class="chat-separate"><time class="chat-time" datetime="">Jan 9, 2014</time></div>

                        <div class="chat-in">
                            <div class="chat-user">Phillip Morrison</div>
                            <div class="chat-msg">
                                <p>Praesent cras quisque. Volutpat sit interdum. Magnis leo, duis faucibus eu, in rutrum nulla. Eget sed, dolor nibh. Vero mi habitant</p>
                                <time class="chat-time" datetime="2013-12-13T20:00">01:14 PM</time>
                            </div>
                        </div><!-- /chat-in -->

                        <div class="chat-out">
                            <div class="chat-user">Me</div>
                            <div class="chat-msg">
                                <p>Dictum at aenean, faucibus euismod convallis. Ipsum nec, platea amet nulla.</p>
                                <time class="chat-time" datetime="2013-12-13T20:00">01:16 PM</time>
                            </div>
                        </div><!-- /chat-out -->

                        <div class="chat-in">
                            <div class="chat-user">Phillip Morrison</div>
                            <div class="chat-msg">
                                <p>Eu augue, proin rutrum. Et vehicula, wisi fusce, ut ipsum</p>
                                <time class="chat-time" datetime="2013-12-13T20:00">01:20 PM</time>
                            </div>
                        </div><!-- /chat-in -->

                        <div class="chat-separate"><time class="chat-time" datetime="">Jan 14, 2014</time></div>

                        <div class="chat-out">
                            <div class="chat-user">Me</div>
                            <div class="chat-msg">
                                <p>Est penatibus pellentesque, augue tincidunt, a suspendisse</p>
                                <time class="chat-time" datetime="2013-12-13T20:00">09:36 AM</time>
                            </div>
                        </div><!-- /chat-out -->

                        <div class="chat-in">
                            <div class="chat-user">Phillip Morrison</div>
                            <div class="chat-msg">
                                <p>Nunc nulla. Donec laoreet non, lobortis praesent</p>
                                <time class="chat-time" datetime="2013-12-13T20:00">09:40 AM</time>
                            </div>
                        </div><!-- /chat-in -->

                        <div class="chat-separate"><time class="chat-time" datetime="">Recent</time></div>

                        <div class="chat-in">
                            <div class="chat-user">Phillip Morrison</div>
                            <div class="chat-msg">
                                <p>Dui posuere. Reprehenderit felis libero, potenti vitae</p>
                                <time class="chat-time" datetime="2013-12-13T20:00">12 min</time>
                            </div>
                        </div><!-- /chat-out -->

                    </div><!-- /chatbox-body -->

                    <div class="chatbox-footer">
                        <form class="chat-form">
                            <p class="chat-status"><i class="fa fa-spinner fa-spin"></i> Phillip Morrison is type...</p>
                            <div class="form-group">
                                <button type="submit" class="btn" title="Send"><i class="fa fa-share"></i></button>
                                <input type="text" class="chat-input" name="send_chat" placeholder="Type a message">
                            </div>
                        </form>
                    </div><!-- /chatbox -->
                </div><!-- /chatbox -->
            </div><!-- /module -->
        </aside><!--/side-right -->

