{% load i18n staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Iniciar Session</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="stilearning">

        <meta http-equiv="x-pjax-version" content="v173">

      
        <link rel="stylesheet" href="{% static 'styles/9281c719.vendor.css' %}"/>        
        <link rel="stylesheet" href="{% static 'styles/3fc417cd.main.css' %}"/>
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <![endif]-->
    </head>

    <body class="animated fadeIn">		

		<div class="content content-full">
			<div class="container">
				<div class="signin-wrapper">
					<div class="tab-content">
						<div class="row tab-pane fade in active" id="signin">
							<div class="col-md-offset-1 col-md-6 hidden-sm hidden-xs">
								<div id="carousel-example" class="carousel slide" data-ride="carousel">
							      	<ol class="carousel-indicators">
								        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
								        <li data-target="#carousel-example" data-slide-to="1"></li>
								        <li data-target="#carousel-example" data-slide-to="2"></li>
								        <li data-target="#carousel-example" data-slide-to="3"></li>
								        <li data-target="#carousel-example" data-slide-to="4"></li>
							      	</ol>
							      	<div class="carousel-inner">
								        <div class="item active">
								          	<img src="{% static 'images/dummy/7b14b475.img7.png' %}" alt="Slide image">
								        </div>
								        <div class="item">
								          	<img src="{% static 'images/dummy/1166769f.img11.png' %}" alt="Slide image">
								        </div>
								        <div class="item">
								          	<img src="{% static 'images/dummy/2590d12d.img2.png' %}" alt="Slide image">
								        </div>
								        <div class="item">
								          	<img src="{% static 'images/dummy/4e81cd8d.img6.png' %}" alt="Slide image">
								        </div>
								        <div class="item">
								          	<img src="{% static 'images/dummy/3e4d8287.img3.png' %}" alt="Slide image">
								        </div>
							      	</div>
							      	<a class="left carousel-control" href="#carousel-example" data-slide="prev">
							        	<span class="glyphicon glyphicon-chevron-left"></span>
							      	</a>
							      	<a class="right carousel-control" href="#carousel-example" data-slide="next">
							        	<span class="glyphicon glyphicon-chevron-right"></span>
							      	</a>
							    </div>
							</div><!--/cols-->

							<div class="col-md-offset-1 col-md-4 col-sm-offset-2 col-sm-8">							
								<div class="signin">
									<div class="signin-brand">
										<a href="page-signin.php">
											<img class="lazy" data-original="{% static 'images/dummy/48f4bb8e.Stilearn-logo-primary.png' %}" alt="Sign In">
										</a>
									</div><!--/signin-brand-->

									<form method="post" action="." class="form-signin" role="form">{% csrf_token %}
										{% if form.errors %}
						                    <div class="alert alert-danger">{% trans "User or password don't match." %}</div>
						                {% endif %}

						                {% for field in form %}
						                    {{ field }}
						                    <br />
						                {% endfor %}
						             
						                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
						                <br>{% trans "Don't have an account?" %} <a href="{% url 'register' %}">{% trans "Sign up here" %}</a>
								
										<!--<p class="hidden-sm">
											<a href="#" rel="tooltip" title="Signin with Twitter account" class="btn btn-sm btn-info"><span class="fa fa-twitter"></span></a>
											<a href="#" rel="tooltip" title="Signin with Google account" class="btn btn-sm btn-danger"><span class="fa fa-google-plus"></span></a>
											<a href="#" rel="tooltip" title="Signin with Github account" class="btn btn-sm btn-cloud"><span class="fa fa-github"></span></a>
										</p>-->

									</form><!--/#signin-form-->
								</div><!--/signin-->


								<!-- modalRecover -->
	                            <div class="modal fade" id="modalRecover" tabindex="-1" role="dialog" aria-labelledby="modalRecoverLabel" aria-hidden="true">
	                                <div class="modal-dialog">
	                                    <div class="modal-content">
	                                        <div class="modal-header">
	                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                                            <h4 class="modal-title" id="modalRecoverLabel">Reset Password</h4>
	                                        </div>
	                                        <div class="modal-body">
	                                            <form action="index.php" method="POST" data-validate="form" role="form" id="recover-form">
													<div class="form-group">
														<div class="input-group input-group-in">
															<span class="input-group-addon text-muted">@</span>
															<input type="email" class="form-control" name="recover" required="" autocomplete="off">
														</div><!--/input-group-->
													</div><!--/form-group-->
													<p class="text-muted"><small>Enter your username or email address and we will send you a link to reset your password.</small></p>
												</form>
	                                        </div>

	                                        <div class="modal-footer">
	                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                                            <button type="button" class="btn btn-primary">Send reset link</button>
	                                        </div>
	                                    </div><!-- /.modal-content -->
	                                </div><!-- /.modal-dialog -->
	                            </div><!-- /.modal -->

								
							</div><!--/cols-->
						</div><!--/row-->


					</div><!--/tab-content-->

					<div class="signin-footer">
						<ul class="list-inline pull-right">
							<li><a href="#">Cepdech C.A.</a></li>
						</ul>
						<ul class="list-inline">
							<li>&copy; 2014 Stilearning</li>
							<li><a href="#">Terminos de Uso</a></li>
							<li><a href="#">Polticas de Privacidad</a></li>
						</ul>
					</div>

				</div><!--/signin-wapper-->

			</div><!--/container-->
		</div><!--/content-->



        <!-- javascript
        ================================================== -->
        <script src="{% static 'scripts/39914ff3.vendor-main.js' %}"></script>        
        <script src="{% static 'scripts/756399db.vendor-usefull.js' %}"></script>
        <script src="{% static 'scripts/e7058f60.vendor-form.js' %}"></script>        
        <script src="{% static 'scripts/fc9d433c.vendor-editor.js' %}"></script>        
        <!--[if lte IE 8]>
        <script src="scripts/eae815b5.excanvas.js"></script>
        <![endif]-->
        <script src="{% static 'scripts/2ce1156c.vendor-graph.js' %}"></script>    
        <script src="{% static 'scripts/37a77790.vendor-table.js' %}"></script>
        <script src="{% static 'scripts/1581b2aa.vendor-maps.js' %}"></script>        
        <script src="{% static 'scripts/5f4fd25b.vendor-util.js' %}"></script>


        <!-- required stilearn template js -->
        <script src="{% static 'scripts/5917523f.main.js' %}"></script>
        <!-- This scripts will be reload after pjax or if popstate event is active (use with class .re-execute) -->
        <script src="{% static 'scripts/89c3d6c9.initializer.js' %}"></script>

    </body>
</html>