{% load i18n staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Registrar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="stilearning">

        <meta http-equiv="x-pjax-version" content="v173">

      
        <link rel="stylesheet" href="{% static 'styles/9281c719.vendor.css' %}"/>        
        <link rel="stylesheet" href="{% static 'styles/3fc417cd.main.css' %}"/>
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <![endif]-->
    </head>

    <body class="animated fadeIn">		
		<div class="content content-full">
			<div class="container">
				<div class="signin-wrapper">
					<div class="tab-content">
						
							<form method="post" action="." class="form-register" role="form">{% csrf_token %}
				                <h2 class="form-register-heading" align="center">{% trans "Sign up" %}</h2>
				                    {% if form.errors %}
				                        <div class="alert alert-danger">{% trans "Check the red fields." %}</div>  
				                    {% endif %}
				 
				                    {% for field in form %}
				                        {{ field }}
				                        <br />
				                    {% endfor %}
				                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Create an account" %}</button>
				                <br>{% trans "Do you have an account?" %} <a href="{% url 'login' %}">{% trans "Sign in here" %}</a>
				            </form>
						</div><!--/#signup-->


					<div class="signin-footer">
						<ul class="list-inline pull-right">
							<li><a href="#">Cepdech C.A.</a></li>
						</ul>
						<ul class="list-inline">
							<li>&copy; 2014 Stilearning</li>
							<li><a href="#">Terminos de Uso</a></li>
							<li><a href="#">Polticas de Privacidad</a></li>
						</ul>
					</div>

				</div><!--/signin-wapper-->

			</div><!--/container-->
		</div><!--/content-->



        <!-- javascript
        ================================================== -->
        <script src="{% static 'scripts/39914ff3.vendor-main.js' %}"></script>        
        <script src="{% static 'scripts/756399db.vendor-usefull.js' %}"></script>
        <script src="{% static 'scripts/e7058f60.vendor-form.js' %}"></script>        
        <script src="{% static 'scripts/fc9d433c.vendor-editor.js' %}"></script>        
        <!--[if lte IE 8]>
        <script src="scripts/eae815b5.excanvas.js"></script>
        <![endif]-->
        <script src="{% static 'scripts/2ce1156c.vendor-graph.js' %}"></script>    
        <script src="{% static 'scripts/37a77790.vendor-table.js' %}"></script>
        <script src="{% static 'scripts/1581b2aa.vendor-maps.js' %}"></script>        
        <script src="{% static 'scripts/5f4fd25b.vendor-util.js' %}"></script>


        <!-- required stilearn template js -->
        <script src="{% static 'scripts/5917523f.main.js' %}"></script>
        <!-- This scripts will be reload after pjax or if popstate event is active (use with class .re-execute) -->
        <script src="{% static 'scripts/89c3d6c9.initializer.js' %}"></script>

    </body>
</html>